/* Google Style Luxury Theme */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

background:#090909;
font-family:'Inter',sans-serif;
color:white;

}

.navbar{

position:fixed;
top:0;
left:0;
width:100%;

padding:22px 8%;

display:flex;
justify-content:space-between;
align-items:center;

backdrop-filter:blur(18px);

background:rgba(0,0,0,.35);

z-index:999;

}

.logo{

font-family:'Cinzel',serif;

font-size:32px;

font-weight:bold;

letter-spacing:3px;

color:#D4AF37;

}

nav{

display:flex;
gap:30px;

}

nav a{

color:white;

text-decoration:none;

font-size:15px;

transition:.3s;

}

nav a:hover{

color:#D4AF37;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),

url("https://images.unsplash.com/photo-1622287162716-f311baa1a2b8?auto=format&fit=crop&w=1600&q=80");

background-size:cover;

background-position:center;

}

.content{

max-width:700px;

padding:20px;

}

.subtitle{

letter-spacing:5px;

font-size:13px;

color:#D4AF37;

text-transform:uppercase;

}

h1{

font-size:80px;

font-family:'Cinzel',serif;

margin:20px 0;

}

.content p{

font-size:20px;

opacity:.8;

margin-bottom:35px;

}

.main-btn{

display:inline-block;

padding:18px 45px;

background:#D4AF37;

color:black;

font-weight:700;

border-radius:50px;

text-decoration:none;

transition:.3s;

}

.main-btn:hover{

background:white;

transform:translateY(-5px);

}

#links{

padding:90px 20px;

max-width:700px;

margin:auto;

}

#links h2{

text-align:center;

margin-bottom:40px;

font-size:35px;

font-family:'Cinzel',serif;

}

.buttons{

display:flex;

flex-direction:column;

gap:18px;

}

.buttons a{

background:#141414;

padding:20px;

border-radius:18px;

text-decoration:none;

color:white;

font-size:18px;

transition:.3s;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

border:1px solid #262626;

}

.buttons a:hover{

background:#D4AF37;

color:black;

transform:scale(1.03);

}

footer{

padding:35px;

text-align:center;

color:#999;

font-size:14px;

border-top:1px solid #222;

}

footer strong{

color:#D4AF37;

}

@media(max-width:768px){

h1{

font-size:55px;

}

nav{

display:none;

}

.logo{

font-size:24px;

}

}
